{% extends "template.html" %}
{% block conteudo %}
		<form action="{{url_for('atualizar')}}" method="post" enctype="multipart/form-data">
			<fieldset>
				<figure class="thumb col-md-4">
					<img class="img-responsive" src="{{ url_for('imagem', capa=capa_jogo)}}">
					<figcaption>
						<label class="fileContainer">
							Mudar Capa
							<input type="file" name="arquivo" accept=".image/jpeg">
						</label>
					</figcaption>
				</figure>

				<input type="hidden" name="id" value="{{jogo.id}}">
				<div class="form-group">
					<label for="nome">Nome</label>
					<input id="nome" type="text" name="nome" value="{{jogo.nome}}">
				</div>
				<div class="form-group">
					<label for="categoria">Categoria</label>
					<input id="categoria" type="text" name="categoria" value="{{jogo.categoria}}">
				</div>
				<div class="form-group">
					<label for="console">Console</label>
					<input id="console" type="text" name="console" value="{{jogo.console}}">
				</div>
				<button type="submit" class="btn btn-primary">Salvar</button>
				<a class="btn btn-danger" href="{{ url_for('index')}}">Cancelar</a>
			</fieldset>
		</form>
{% endblock %}