<!DOCTYPE html>
<html>
<head>
	<title>Jogoteca</title>
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bootstrap.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='app.css')}}">
    <script src="{{url_for('static', filename='jquery.js')}}"></script>
</head>
<body>

	<div class="container">
		{% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="list-unstyled">
                {% for message in messages %}
                    <li class="alert alert-success"> {{message}}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
		
			<h1>{{titulo}}</h1>
	
	

	{% block conteudo %} {% endblock %}

	</div>
    <script src="{{url_for('static', filename='app.js')}}" ></script>
</body>